<nav class="side-nav">
    <h4 class="side-nav__title">Menu</h4>
    <ul class="side-nav__list">
        <li class="side-nav__list-item" routerLink='/dashboard/home'> <mat-icon>home</mat-icon> Home</li>
        <li class="side-nav__list-item" routerLink='/dashboard/addairport'>
            <mat-icon>add_circle_outline</mat-icon> Add Airport</li>
        <li class="side-nav__list-item" routerLink='/dashboard/viewairport'>
            <mat-icon>storage</mat-icon> View Airport</li>
        <li class="side-nav__list-item" routerLink='/dashboard/addflight'>
            <mat-icon>add_circle_outline</mat-icon> Add Flight</li>
        <li class="side-nav__list-item" routerLink='/dashboard/viewflight'>
            <mat-icon>storage</mat-icon> View Flight</li>
        <li class="side-nav__list-item" routerLink='/dashboard/searchflight'>
            <mat-icon>search</mat-icon> Search Flight</li>
    </ul>
</nav>
