<nav class="side-nav">
    <h4 class="side-nav__title">Menu</h4>
    <ul class="side-nav__list">
        <li class="side-nav__list-item">
            <mat-icon>home</mat-icon> Home</li>
        <li class="side-nav__list-item">
            <mat-icon>add_circle_outline</mat-icon> Add Airport</li>
        <li class="side-nav__list-item">
            <mat-icon>storage</mat-icon> View Airport</li>
        <li class="side-nav__list-item">
            <mat-icon>add_circle_outline</mat-icon> Add Flight</li>
        <li class="side-nav__list-item">
            <mat-icon>storage</mat-icon> View Flight</li>
        <li class="side-nav__list-item">
            <mat-icon>search</mat-icon> Search Flight</li>
    </ul>
</nav>