.red-icon {
    color: #ff0000;
}
.view-airport {
    &__wrapper{
        padding: 50px;
    }
    &__table{
        width: 70%;
        margin-left: 15%;
        th,td{
            text-align: left;
            border-bottom: 1px solid #cfcfcf;
            padding: 10px;
        }
        &-filter{
            width: 40%;
            margin-left: 15%;
            padding: 20px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid #6400b6;
        }
    }
}