.dashboard {
    display: flex;
    &-nav {
        flex: 1 1 25%;
        background-color: #798bb1;
        padding: 20px 10px;
    }
    &-details {
        flex: 1 1 75%;
        background-color: #fff;
    }
}