<section class="add-flight__container">
    <h2>Add Flight</h2>
    <div class="add-flight__wrapper">
        <div class="add-flight-input__wrapper">
          <label for="">Flight Number</label>
          <input type="text" placeholder="Enter Flight Number" class="add-flight-input">
        </div>

        <div class="add-flight-input__wrapper">
          <label for="">Airline Name</label>
          <input type="text" placeholder="Enter Airline Name" class="add-flight-input">
        </div>

        <div class="add-flight-input__wrapper">
          <label for="">From</label>
          <input type="text" placeholder="From" class="add-flight-input">
        </div>

        <div class="add-flight-input__wrapper">
          <label for="">To</label>
          <input type="text" placeholder="To" class="add-flight-input">
        </div>

        <div class="add-flight-input__wrapper">
          <label for="">Depart Date</label>
          <input type="date" placeholder="Enter Depart Date" class="add-flight-input">
        </div>

        <div class="add-flight-input__wrapper">
          <label for="">Total Seats</label>
          <input type="number" placeholder="Enter Total Seats" class="add-flight-input">
        </div>

        <div class="add-flight-input__wrapper">
          <label for="">Ticket Cost</label>
          <input type="number" placeholder="Enter Ticket Cost" class="add-flight-input">
        </div>
    </div>
    <button class="add-btn" (click)="onAdd()">Add</button>
    
</section>
